@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
.letra{
    font-family: Roboto;
    font-weight: 300;
}
.tamano{
    width: 18rem !important;
}
.bg-white{
    background-color: white;
    color: black;
}
.bg-cyan{
    background-color: #00cdf2 !important;
    color: white !important;
}
.bg-black{
    background-color: black;
    color: white;
}

a{
    text-decoration: none !important;
}

.pading_quienes{
    padding: 0% 8% 0% 8%;
}
.margin_hr{
    margin: 2% 8% 1% 8% !important;
}
.pading_contacto{
    padding: 0% 9% 0% 9%;